# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\作业\大数据作业\echarts_view\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
